<!--<div class="thumbnail">-->
  <!--<div class="caption">-->
    <!--<h4>{{character.name}}</h4>-->
  <!--</div>-->
  <!--<img class="img-responsive" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}">-->
<!--</div>-->

<div class="thumbnail">
  <div class="caption">
    <h4>{{character.name}}</h4>
    <!--<p>{{character.description}}</p>-->
    <!--<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>-->
  </div>
  <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}">
</div>
